# Requires Python 3.10
gunicorn
flask
fastapi
uvicorn
flask-bcrypt
flask-socketio
eventlet
psycopg2-binary
supabase
PyJWT
python-dotenv
cryptography
opencv-python-headless
numpy
Pillow
uniface
onnxruntime
deepface
google-auth
google-auth-oauthlib
google-api-python-client
requests
tensorflow-cpu
chromadb
sentence-transformers
google-genai
PyPDF2
python-docx
