# Requires Python 3.10
flask
fastapi
uvicorn
flask-cors
flask-bcrypt
flask-socketio
eventlet
psycopg2-binary
supabase
PyJWT
python-dotenv
cryptography
opencv-python
numpy
pandas
easyocr
rapidfuzz
deepface
